{% extends "base.html" %}

{% block title %}
CREAR CUENTA
{% endblock %}

{% block content %}
<form action="/app/templates/register.html" method="get">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" id="username" required>

    <br>

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>

    <br>

    <label for="email">email</label>
    <input type="email" name="email" id="email" required>

    <br>

    <input type="submit" value="Registrar">

</form>

<p>
    ¿Usuario registrado?
    <a href="/app/templates/login.html">login</a>
</p>
{% endblock %}
